### Project ###
# Output
lib


### IDEs and editors ###
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test

# IDE - Others
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


### System Files ###
# macOs
.DS_Store
Thumbs.db


### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Automated testing and Coverage
coverage
*.lcov
lib-cov
.nyc_output
reports

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache